.gin {
    border: solid;
    border-color: rgb(243, 103, 103);
    background-color: transparent;
    border-width: 1px;
    color: red;
    height: 35px;
    width: 40px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
  }
  